* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, sanserif;
  font-size: 16px;
  text-align: center;
  background-color: #7b68ee;
  color: #ffffff;
}

main {
  background-color: #b22222;
  border-radius: 12px;
  width: 450px;
  margin: 4rem auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
  display: hidden;
}

.decor {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  width: 80%;
  margin: 2.5rem auto;
}

.title {
  color: #fffff0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
