* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, sanserif;
  font-size: 16px;
  text-align: center;
  background-color: #7b68ee;
  color: #ffffff;
}

main {
  background-color: #b22222;
  border-radius: 12px;
  width: 450px;
  margin: 4rem auto;
  overflow: hidden;
}
